services:
  backend:
    build:
      context: ../backend
      dockerfile: ./Dockerfile
    container_name: pythia_backend
    depends_on:
      - ocr
      - db
    environment:
      - DATABASE_URL=postgres://postgres:1234@db:5432/pythiadb?sslmode=disable
      - OCR_SERVICE_HOST=ocr
      - OCR_SERVICE_PORT=50051
    ports:
      - "8080:8080"
    networks:
      - pythia_net
  ocr:
    build:
      context: ../ml-services/ocr-service
      dockerfile: ./Dockerfile
    deploy:
      resources:
        reservation:
          devices:
            - capabilities: [gpu]
    container_name: pythia_ocr
    ports:
      - "50051:50051"
    networks:
      - pythia_net
  db:
    image: postgres:17-alpine
    container_name: pythia_db_dev
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: pythiadb
    ports:
      - "5432:5432"
    volumes:
      - db_data_dev:/var/lib/postgresql/data
    networks:
      - pythia_net

networks:
  pythia_net:
    driver: bridge
volumes:
  db_data_dev: