@tailwind base;
@tailwind components;
@tailwind utilities;
/* 3D flip effect */
.perspective {
    perspective: 1000px;
  }
  .backface-hidden {
    backface-visibility: hidden;
  }
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
  